[Unit]
Description=Cardano Preview Container Network
Wants=network-online.target
After=network-online.target

[Network]
NetworkName=cardano-preview
IPv6=true
DNS=8.8.8.8
